@inject HttpClient _client

<EditForm Model="@review" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Review Part: </label>
        <div>
            <InputSelect @bind-Value="review.PcPartId" class="form-control">
                <option value="">== Select Part ==</option>
                @if (PcParts != null)
                {
                    foreach (var pcpart in PcParts)
                    {
                        <option value="@pcpart.Id">@pcpart.Name</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => review.PcPartId)" />
        </div>
    </div>


    <div class="form-group">
        <label>Review Quality: </label>
        <div>
            <InputSelect @bind-Value="review.RatingId" class="form-control">
                <option value="">== Select Quality ==</option>
                @if (Ratings != null)
                {
                    foreach (var rating in Ratings)
                    {
                        <option value="@rating.Id">@rating.Quality</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => review.RatingId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Review Personal Rating: </label>
        <div>
            <InputSelect @bind-Value="review.RatingId" class="form-control">
                <option value="">== Select PersonalRating ==</option>
                @if (Ratings != null)
                {
                    foreach (var rating in Ratings)
                    {
                        <option value="@rating.Id">@rating.PersonalRating</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => review.RatingId)" />
        </div>
    </div>


    <div class="form-group">
        <label>Review Title: </label>
        <div>
            <InputText @bind-Value="@review.ReviewTitle" class="form-control" />
            <ValidationMessage For="@(()=> review.ReviewTitle)" />
        </div>
    </div>

    <div class="form-group">
        <label>Review Description: </label>
        <div>
            <InputText @bind-Value="@review.ReviewDescription" class="form-control" />
            <ValidationMessage For="@(()=> review.ReviewDescription)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Add Review
    </button>

</EditForm>

@code
{
    [Parameter] public Review? review { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<Rating>? Ratings;
    private IList<PcPart>? PcParts;

    protected async override Task OnInitializedAsync()
    {
        Ratings = await _client.GetFromJsonAsync<List<Rating>>($"{Endpoints.RatingEndpoint}");
        PcParts = await _client.GetFromJsonAsync<List<PcPart>>($"{Endpoints.PcPartEndpoint}");
    }


}